<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    <header>
        <div class="container">
            <div class="d-flex justify-content-between align-item-center">
                <a href="{{ site.baseurl }}/"
                    class="d-flex justify-content-start align-items-center mr-2"
                    title="Home">
                    <img src="https://s.gravatar.com/avatar/8d65fc3612d99fe11cb178610edb08fd?s=80" alt="Gravatar" />
                    <span class="d-none d-sm-inline ml-2">{{ site.title }}</span>
                </a>
                <div class="d-flex flex-column justify-content-around ml-2">
                    <small>{{ site.tagline }}</small>
                </div>
            </div>
        </div>
    </header>

    <nav class="main">
        <div class="container d-flex justify-content-center">
            {% for page in site.pages %}
            {% if page.title != null %}
            {% if page.layout == "page" %}
            <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </nav>

    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <small>
                &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All
                rights reserved.
            </small>
        </div>
    </footer>

    {% include analytics.html %}
</body>

</html>
