---
layout: default
---

<article class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-info d-flex justify-content-start">
        <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
        <nav class="post-tags">
            {% for tag in page.tags %}
            <a href="{{ '/tags/' | append: tag | relative_url }}">#{{ tag }}</a>
            {% endfor %}
        </nav>
        <nav class="post-categories">
            <span>posted in:</span>
            {% for category in page.categories %}
            <a href="{{ '/categories/' | append: category | relative_url }}">{{ category }}</a>
            {% endfor %}
        </nav>
    </div>
    {{ content }}
</article>

<!-- Disqus comments -->
{% if site.disqus %}
<section class="comments">
    <h2>Comments</h2>
    {% include disqus.html %}
</section>
{% endif %}

{% if site.related_posts != empty %}
<section class="related">
    <h2>Related posts</h2>
    <ul class="related-posts">
        {% for post in site.related_posts limit:3 %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small><time
                        datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
            </a>
        </li>
        {% endfor %}
    </ul>
    </aside>
    {% endif %}
