@import "bootstrap-variables";
@import "bootstrap/scss/bootstrap";
@import "variables";

h1 {
    color: lighten($body-color, 35%);
}

h2,
h3,
h4,
h5,
h6 {
    color: lighten($body-color, 25%);
}

h1,
h2,
h3 {
    a {
        color: inherit;
    }
}

header {
    padding: 10px 0;
    margin-top: 20px;
    background-color: lighten($body-bg, 10%);
    border-width: 1px 0;
    border-style: solid;
    border-color: $border-color;

    img {
        @include border-radius(50%);
        width: 40px;
        height: 40px;
    }
    small {
        vertical-align: middle;
    }
}

nav.main {
    margin-bottom: 20px;

    a {
        display: block;
        padding: 5px;
        margin: 0 10px;
        text-transform: lowercase;
    }
}

nav.pagination {
    a, span {
        display: block;
        margin: 0 20px;
    }
}

section {
    margin: 40px 0;
}

article {
    div.post-info {
        time, nav {
            display: block;
            margin: 10px 20px 10px 0;
        }
    }
}

pre {
    @include border-radius();
    padding: 10px;
    border: 1px solid $border-color;
    background-color: lighten($body-bg, 5%);
    color: lighten($body-color, 5%);
}
